<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Đăng nhập</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>
    <main class="container">
        <div class="card p-4 shadow-sm">
            <h1 class="text-center mb-4">Thêm Người Dùng</h1>
            <div th:if="${error}" class="alert alert-danger text-center">
                <p th:text="${error}"></p>
            </div>
            <form th:action="@{/admin/user-manager/add-user}" method="post" enctype="multipart/form-data">
                <!-- Username -->
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required />
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>

                <!-- Full Name -->
                <div class="mb-3">
                    <label for="full_name" class="form-label">Họ</label>
                    <input type="text" class="form-control" id="full_name" name="firstName" required />
                </div>
                <div class="mb-3">
                    <label for="full_name" class="form-label">Tên</label>
                    <input type="text" class="form-control" id="full_name" name="lastName" required />
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required />
                </div>

                <!-- Phone -->
                <div class="mb-3">
                    <label for="phone" class="form-label">Điện thoại</label>
                    <input type="text" class="form-control" id="phone" name="phone" required />
                </div>

                <!-- Gender -->
                <div class="mb-3">
                    <label for="gender" class="form-label">Giới tính</label>
                    <select class="form-select" name="sex" id="sex">
                        <option value="male">Nam</option>
                        <option value="female">Nữ</option>

                    </select>
                </div>

                <!-- Role -->
                <div class="mb-3">
                    <label for="role" class="form-label">Vai trò</label>
                    <select name="userRole" required>
                        <option value="ADMIN">Admin</option>
                        <option value="EMPLOYEE">Nhân viên</option>
                        <option value="CUSTOMER">Khách hàng</option>
                    </select>
                </div>



                <!-- Avatar -->
                <div class="mb-3">
                    <label for="avatar" class="form-label">Ảnh đại diện</label>
                    <input type="file" class="form-control" id="avatar" name="avatar" required/>
                </div>

                <!-- Submit Button -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Thêm người dùng</button>
                </div>
            </form>
        </div>
    </main>

    <div th:replace="base :: footer"></div>

</body> 