<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LỊCH BẢO TRÌ</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ngày bắt đầu</th>
                    <th>tiến trình</th>
                    <th>thiết bị</th>
                    <th>nhân viên</th>
                    <th>Đổi nhân viên</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="m : ${maintenanceSchedules}">
                    <td th:text="${m.startDate}"></td>
                    <td th:text="
                        ${m.progress == 'in_progress'} ? 'Đang thực hiện' :
                        (${m.progress == 'completed'} ? 'Hoàn thành' :
                        (${m.progress == 'in_completed'} ? 'Chưa xử lý' : 'Không xác định'))
                        "
                        th:classappend="
                        ${m.progress == 'in_progress'} ? 'text-warning fw-bold bg-light' :
                        (${m.progress == 'completed'} ? 'text-success fw-bold bg-light' :
                        (${m.progress == 'in_completed'} ? 'text-danger fw-bold bg-light' : 'text-dark fw-bold bg-light'))
                        ">
                    </td>

                    <td th:text="${m.deviceId.nameDevice}"></td>
                    <td th:text="${m.employeeId != null ? m.employeeId.firstName + ' ' + m.employeeId.lastName : 'Chưa xếp'}"
                        th:classappend="${m.employeeId == null} ? 'text-danger fw-bold' : ''"></td>
                    <td><a th:href="@{/admin/devices/edit/{id}(id=${m.employeeId})}" 
                           class="btn btn-sm btn-warning">Đổi</a></td>
                </tr>
            </tbody>



        </table>
    </main>

    <div th:replace="base :: footer"></div>
     <script>
        function showUpdateForm(id) {
            document.getElementById("form-update-" + id).style.display = "block";
        }

        function hideUpdateForm(id) {
            document.getElementById("form-update-" + id).style.display = "none";
        }
    </script>
</body>
</html>
